@font-face{
    font-family: 'HelveticaThin';
    src: url('fonts/HelveticaThin.eot');
    src: url('fonts/HelveticaThin.eot?iefix') format('eot'),
    url('fonts/HelveticaThin.woff') format('woff'),
    url('fonts/HelveticaThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Verdana';
    url('fonts/Verdana.woff') format('woff'),
    url('fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  overflow: auto;
}

body {
    background: url(img/fon.jpg) no-repeat center center fixed;
    background-size: cover;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    right: 20px;
    overflow-y: scroll;
}

.blur {
    background: url('img/fon.jpg')no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(13px);
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

.widget-top {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    position: relative;
    margin: auto;
    max-height: 216px;
    max-width: 1200px;
    overflow: hidden;
}

.widget-bottom {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  position: relative;
  margin: 8px auto;
  max-width: 900px;
  overflow: hidden;
}


.blur_gray{
    height: 100%;
    width: 1300px;
    background: rgba(39, 50, 52, 0.5);
}

.avatar{

    width: 182px;
    height: 182px;
    min-width: 182px;
    min-height: 182px;
    position: relative;
    margin: 16px;
}

.avatar img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    border: #000000 solid 1px;
}

h1{
  color: #d8d9d9;
}

.name {
    position: relative;
    font-size: 18px;
    font-family: 'HelveticaThin', sans-serif;
    text-align: center;
  margin-top: 56px;
}

.contact ul{
  padding-left: 0;
}

.contact a{
  color: #d8d9d9;
}

.contact {
  position: relative;
  color: #d8d9d9;
  font-size: 24px;
  font-family: 'HelveticaThin', sans-serif;
  text-align: center;
  padding-right: 16px;
  margin-top: 32px;
}
.contact li{
  list-style-type: none;
   margin: 8px;
}
h2, h3{
    font-family: 'HelveticaThin', sans-serif;
}

.Text {
    font-family: 'Verdana', sans-serif;
    /*height: 752px;*/
    width: 760px;
    position: relative;
    color: #d8d9d9;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
}

.Text .o_sebe{
  text-indent: 20px;
}

.Text h2, h3{
    text-align: center;
}

.Text a{
    color: #d8d9d9;
}

.dw{
    text-align: center;
    margin-bottom: 16px;
}




::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(216, 217, 217, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(177, 178, 178, 0.4);
}































